<div class="android-navigation-container">
  <nav ng-controller="NavbarController as nav" class="android-navigation mdl-navigation">
    <a class="nounderline mdl-navigation__link mdl-typography--text-uppercase" href="#">{{"Home" | translate}}</a>
    <a class="nounderline mdl-navigation__link mdl-typography--text-uppercase" ui-sref="activity">{{"Adventures" | translate}}</a>
<a class="nounderline mdl-navigation__link mdl-typography--text-uppercase" ui-sref="activity">{{"Our Team" | translate}}</a>
    <a class="nounderline mdl-navigation__link mdl-typography--text-uppercase" href="">{{"Contact" | translate}}</a>
    <a class="nounderline mdl-navigation__link mdl-typography--text-uppercase" href="">{{"Help" | translate}}</a>
  </nav>
</div>
