<div class="android-screen-section mdl-typography--text-center" id="screen">
  <div class="mdl-typography--display-1-color-contrast"  >All West Ireland Adventures</div>
  <div id="map" style="width: 600px; height: 600px;" class="map-border map-picture"></div>
  <div class="map-border map-content" >
    <div class="map-title mdl-card__title">
        We reckon adventure starts at home, but it by no means stops there.
    </div>
    <div class="map-text mdl-card__supporting-text">
      <p>Mayo is rich in great surfing beaches including Bertra, an arm of land extending into Clew Bay.</p>

      <p>For a total getaway, head for the windswept beaches of beautiful Belmullet, or bag a big one at Keel Strand in Achill, a longstanding favourite among surfers. Why not try your hand, or rather your foot, at stand up paddle boarding there?</p>

      <p>SurfMayo at Carrownisky Strand in Louisburgh is one of the first surf schools established in Ireland and is open seven days a week every month of the year, apart from Christmas.</p>
    </div>
  </div>
</div>
