<div class="video-slider-section">
  <acme-Slider></acme-Slider>
  <div class="android-wear-band">
    <div class="android-wear-band-text">
      <div class="mdl-typography--display-2 mdl-typography--font-thin">The best adventure Community</div>
      <p class="mdl-typography--headline mdl-typography--font-thin">
        You could enjoy China like home and get all information you want from our community
      </p>
      <p>
        <a class="mdl-typography--font-regular mdl-typography--text-uppercase android-alt-link" href="">
          See what's new in our community&nbsp;<i class="material-icons">chevron_right</i>
        </a>
      </p>
    </div>
  </div>
</div>
