<div class="android-more-section">
  <div class="android-section-title mdl-typography--display-1-color-contrast">More Adventures from West Ireland</div>
  <div class="android-card-container mdl-grid">
    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
      <div class="mdl-card__media">
        <img src="images/more-from-1.png">
      </div>
      <div class="mdl-card__title">
         <a href='' class="android-link mdl-button"><h4 class="mdl-card__title-text">Surfing</h4></a>
      </div>
      <div class="mdl-card__supporting-text">
        <span class="mdl-typography--font-light mdl-typography--subhead">The view of bright sunshine,
           blue water and wide beaches at Sanya, the southernmost tip of Hainan Province,
           attracts many regular visitors from both home and abroad year upon year.
           It is said that Sanya has the most well-preserved and beautiful beaches in all of China.
        </span>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
      <div class="mdl-card__media">
        <img src="images/more-from-4.png">
      </div>
      <div class="mdl-card__title">
         <a href='' class="android-link mdl-button"><h4 class="mdl-card__title-text">Cycling</h4></a>
      </div>
      <div class="mdl-card__supporting-text">
        <span class="mdl-typography--font-light mdl-typography--subhead">Bordered by clear sea, Hainan Island's Sanya is an ideal place for water entertainment. Besides tasting fresh seafood and enjoying exotic natural beauties, you must try exciting water sports,
           such as diving, walking on the seafloor, and surfing</span>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
      <div class="mdl-card__media">
        <img src="images/more-from-2.png">
      </div>
      <div class="mdl-card__title">
         <a href='' class="android-link mdl-button"><h4 class="mdl-card__title-text">SUP</h4></a>
      </div>
      <div class="mdl-card__supporting-text">
        <span class="mdl-typography--font-light mdl-typography--subhead">Every lunar May 5 On Dragon Boat Festival every year, dragon boat contest is a poplular festival acitivity attracting thousands of people</span>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card mdl-shadow--3dp">
      <div class="mdl-card__media">
        <img src="images/more-from-3.png">
      </div>
      <div class="mdl-card__title">
         <a href='' class="android-link mdl-button"><h4 class="mdl-card__title-text">Horse Riding</h4></a>
      </div>
      <div class="mdl-card__supporting-text">
        <span class="mdl-typography--font-light mdl-typography--subhead">Owning to the local tropical climate, most of the locals' activities takes place after dusk. Therefore, experiencing Sanya's nightlife is the best way for you to participate in the local life.</span>
      </div>
    </div>
  </div>
  <div class="view-all mdl-card__actions">
     <a class="android-link mdl-button mdl-js-button mdl-typography--text-uppercase" href="">
       <h4>View All Adventures</h4>
       <i class="material-icons">chevron_right</i>
     </a>
  </div>
</div>
