<div id="top" class="video-section mdl-typography--text-center">
  <section class="stripe inverted">
    <div id="homeVideoWrap" style="background-image: url(https://secure.meetupstatic.com/s/img/713919118647435472507/guest_home/still_1.jpg)">
      <!-- <div class="bounds align--center">
        <div class="chunk">
          <h1 class="text--display1">What do you love?</h1>
            <p class="text--big text--heavy">Do more of it with Meetup</p>
        </div>
          <a href="https://secure.meetup.com/register/" class="button button--primary text--big j-modal--register">Sign up</a>
      </div> -->
      <video src="https://secure.meetupstatic.com/s/img/457419671895069178/guest_home/video.mp4" autoplay="" loop=""></video>
    </div>
  </section>
  <div class="logo-font stlc-slogan">be together. not the same.</div>
  <div class="logo-font stlc-sub-slogan">Welcome to west Ireland... be yourself. do your thing. see what's going on.</div>
  <div class="logo-font stlc-sign-up">
    <a href=""><img src="images/andy.png"> Check Our Adventures </a>
  </div>
  <a href="#/#screen">
    <button class="android-fab mdl-button mdl-button--colored mdl-js-button mdl-button--fab mdl-js-ripple-effect">
      <i class="material-icons">expand_more</i>
    </button>
  </a>
</div>
